   h1 {
		font-family: 'Open Sans', sans-serif;
	}

	h2 {
		font-family: 'Merriweather', serif;
	}

	h3 {
		font-family: 'Comfortaa', cursive;
	}

	h1, h2, h3 {
     
						}
	p { 
		padding: 2%;
	}

	body {
		background-image: url("../bilder/background.jpg")
	}

	

	main {
		width:80%;
		height: 151vh;
		margin:0 auto;
		background-color: rgba(99,255,91,0.4);
	}

	section {
		width: 70%;
		margin-left: 25%; 
		border-left: 5px solid black;
	}

	.sectionClass{
		margin-left: 10px;
	}

	aside {
		width: 25%;
		float: left;
		text-align: center;
	}

	img {
		border-radius: 4px;
	}

	.asideClass {
		text-align: center;
	}

	li {
		text-align: left;
	}